package views

templ Layout(content templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>Pocket Tasks</title>
			<script src="https://cdn.jsdelivr.net/npm/@starfederation/datastar"></script>
		</head>
		<body>
			<h1>Pocket Tasks</h1>
			@content
		</body>
	</html>
}
